---
title: Home
permalink: /
---

<h1>{{ title }}</h1>
<p>permalink=<code>{{ permalink }}</code></p>

<h2><code>page</code></h2>
<pre>{{ page | to_json(null, 2) | safe }}</pre>

<ul>
  {% for p in collections.all %}
  <li><a href="{{ p.url | url }}">{{ p.data.title }}</a>
  {% endfor %}
</ul>
